[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tbapy = "*"
flask-cors = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
eventlet = "*"
scipy = "*"
"psycopg2-binary" = "*"
uwsgi = "*"
pandas = "*"
numpy = "*"
flask-caching = "*"

[dev-packages]
matplotlib = "*"
scipy = "*"
sklearn = "*"
