[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tbapy = "*"
flask-cors = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
eventlet = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.7"
