[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tbapy = "*"
flask-cors = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
eventlet = "*"
scipy = "*"
trueskill = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"

[dev-packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"
sklearn = "*"
